@model SAAsProject.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div style="margin-top: 70px">
   <h2 class="text-center" style="margin-bottom: 30px">Long Notes</h2>
   <h4 class="text-center text-uppercase" style="margin-bottom: 40px">forgot your password?</h4>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal login", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="REMEMBER PASSWORD" />
        </div>
    </div>
}
 </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
